<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Privacy Policy</string>
			<key>FooterText</key>
			<string>Sebastian Kruse built the application PLZ Suche (the &quot;App&quot;). This App is provided by Sebastian Kruse at no cost and is intended for use as is.

This page is used to inform users regarding my policies with the collection, use, and disclosure of personal information during the use of the App.

If you choose to use the App, then you agree to the collection and use of information in relation to this policy. The personal information that I collect is used for providing and improving the App. I will not use or share your information with anyone except as described in this privacy policy.

The terms used in this privacy policy have the same meanings as in my terms and conditions, which are accessible within PLZ Suche unless otherwise defined in this privacy policy.</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Information Collection and Use</string>
			<key>FooterText</key>
			<string>For a better experience, while using my App, I may require you to provide me with certain personally identifiable information. The information that I request is retained on your device and is not collected by me in any way.

The App does use third party services that may collect information used to identify you.</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Log Data</string>
			<key>FooterText</key>
			<string>I want to inform you that whenever you use my App, in a case of an error in the App I collect data and information (through third party products) on your phone called Log Data. This Log Data may include information such as your device Internet Protocol (“IP”) address, device name, operating system version, the configuration of the App during use, the time and date of your use of the App, and other statistics.</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Cookies</string>
			<key>FooterText</key>
			<string>Cookies are files with small amount of data that are commonly used as an anonymous unique identifier. These are sent to your browser from the website that you visit and are stored on your device internal memory.

This App does not use these cookies explicitly. However, the App may use third party code and libraries that use cookies to collect information and to improve their services. You have the option to either accept or refuse these cookies and know when a cookie is being sent to your device. If you choose to refuse these cookies, you may not be able to use some portions of this App.</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Service Providers</string>
			<key>FooterText</key>
			<string>I may employ third-party companies and individuals due to the following reasons:
- To facilitate the App;
- To provide the App on my behalf;
- To perform App related services; or
- To assist in analyzing how this App is used.

I want to inform users of this App that these third parties have access to your personal information. The reason is to perform the tasks assigned to them on my behalf. However, they are obligated not to disclose or use the information for any other purpose.</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Security</string>
			<key>FooterText</key>
			<string>I value your trust in providing me your personal information, thus we are striving to use commercially acceptable means of protecting it. But remember that no method of transmission over the internet, or method of electronic storage is 100% secure and reliable, and I cannot guarantee its absolute security.</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Links to Other Sites</string>
			<key>FooterText</key>
			<string>This App may contain links to other sites. If you click on a third-party link, you will be directed to that site. Note that I do not operate these external sites. Therefore, I strongly advise you to review the privacy policy of these websites. I have no control over and assume no responsibility for the content, privacy policies, or practices of any third-party sites or services.</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Children’s Privacy</string>
			<key>FooterText</key>
			<string>This App does not address anyone under the age of 13. I do not knowingly collect personally identifiable information from children under 13. In case I discover that a child under 13 has provided me with personal information, I immediately delete this from my servers. If you are a parent or guardian and you are aware that your child has provided me with personal information, please contact me so that I will be able to perform necessary actions.</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Changes to This Privacy Policy</string>
			<key>FooterText</key>
			<string>I may update this privacy policy. Thus, you are advised to review this page periodically for any changes. I will notify you of any changes by posting the new privacy policy on this page. These changes are effective immediately after they are posted on this page.</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Contact Us</string>
			<key>FooterText</key>
			<string>If you have any questions or suggestions about my Privacy Policy, do not hesitate to contact me.</string>
		</dict>
	</array>
</dict>
</plist>
