<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>group.Information</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>title.Version</string>
			<key>Key</key>
			<string>AppVersion</string>
			<key>DefaultValue</key>
			<string>1.0.0</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>title.LastTimeUsed</string>
			<key>Key</key>
			<string>LastUsed</string>
			<key>DefaultValue</key>
			<string>N/A</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>title.UsesCount</string>
			<key>Key</key>
			<string>UsesCount</string>
			<key>DefaultValue</key>
			<string>0</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>group.Settings</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>title.OrderByZipCode</string>
			<key>Key</key>
			<string>OrderByZipCode</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>title.NearbyMarkerCount</string>
			<key>Key</key>
			<string>NearbyMarkerCount</string>
			<key>Titles</key>
			<array>
				<string>0</string>
				<string>1</string>
				<string>2</string>
				<string>4</string>
				<string>8</string>
				<string>16</string>
				<string>32</string>
				<string>64</string>
				<string>128</string>
			</array>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>4</integer>
				<integer>8</integer>
				<integer>16</integer>
				<integer>32</integer>
				<integer>64</integer>
				<integer>128</integer>
			</array>
			<key>DefaultValue</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>title.ShowZipCodeAboveNearbyMarker</string>
			<key>Key</key>
			<string>ShowZipCodeAboveNearbyMarker</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>title.DistanceType</string>
			<key>Key</key>
			<string>DistanceType</string>
			<key>Titles</key>
			<array>
				<string>value.Kilometers</string>
				<string>value.NauticalMiles</string>
				<string>value.Miles</string>
			</array>
			<key>Values</key>
			<array>
				<string>Kilometers</string>
				<string>NauticalMiles</string>
				<string>Miles</string>
			</array>
			<key>DefaultValue</key>
			<string>Kilometers</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>group.Legal</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>title.PrivacyPolicy</string>
			<key>File</key>
			<string>PrivacyPolicy</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>title.Imprint</string>
			<key>File</key>
			<string>Imprint</string>
		</dict>
	</array>
</dict>
</plist>
